<div class="jumbotron">
  <div class="page-header">
      <h1 class="text-center">Quiz Editor</h1>
  </div>
</div>

<div class="container">

  <div class="row" *ngIf="wasErrorLoadingQuizzes">
      <div class="col-md-12">
          <h3>Can't load quizzes, please try again later.</h3>
      </div>
  </div>

  <div class="row" *ngIf="!wasErrorLoadingQuizzes">
      <div class="col-md-4">
          <button class="btn btn-outline-primary mb-2" (click)="addNewQuiz()">Add New Quiz</button>
          <div class="list-group mb-2">
              <div
                  [class.active]="q === selectedQuiz"
                  (click)="selectQuiz(q)"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                  *ngFor="let q of quizzes">
                      {{ q.name }}
                      <span class="badge badge-secondary" [class.bg-danger]="q.questions.length === 0">{{ q.questions.length }}</span>
              </div>
          </div>
      </div>

      <div
          class="col-md-8"
          [@detailsFromLeft]="detailsAnimationState"
          (@detailsFromLeft.done)="detailsFromLeftAnimationComplete()"
      >

          <div *ngIf="selectedQuiz">
                  <div
                      [@pulseSaveCancelButtons]="numberOfChangedQuizzes > 0 ? 'somethingToSave' : 'nothingToSave' "
                  >
                      <button
                          class="btn mb-2"
                          [class.btn-outline-success]="numberOfChangedQuizzes === 0"
                          [class.btn-success]="numberOfChangedQuizzes > 0"
                          (click)="saveQuizzes()"
                      >
                          Save Quizzes ({{ numberOfChangedQuizzes }})
                      </button>
                      <button class="btn btn-link mb-2" (click)="reloadQuizzes()">Cancel</button>

                  </div>
                  <div class="card">
                      <div class="card-header">
                          {{ selectedQuiz.name }}
                      </div>
                      <div class="card-body">
                          <input type="text" class="form-control" [(ngModel)]="selectedQuiz.name">
                      </div>
                  </div>
                  <br />
                  <div class="card">
                      <div class="card-header">
                          Questions
                      </div>
                      <div class="card-body">
                          <button class="btn btn-outline-success mb-2" (click)="addNewQuestion(selectedQuiz)">Add New Question</button>
                          <div class="row" *ngFor="let question of selectedQuiz.questions">
                              <div class="col-9">
                                  <input type="text" class="form-control" [(ngModel)]="question.name">
                              </div>
                              <div class="col-3">
                                  <button class="btn btn-outline-danger mb-2" (click)="removeQuestion(selectedQuiz, question)">Remove</button>
                              </div>
                          </div>
                      </div>
                  </div>
          </div>

          <div *ngIf="!selectedQuiz">
              <div class="card">
                  <h3 class="card-header">No quiz selected</h3>
                  <div class="card-body">
                      <p class="card-text">Select or add a new quiz</p>
                  </div>
              </div>
          </div>



      </div>
  </div>

</div>

<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>  -->
